Errors in authentication documentation

Clarify that terminal authentication is optional.

Clarify that 403 error not 401 for patron authentication errors

Clarify that to determine if authentication is required try and check for 401, 403 errors

On reflection I don't think that this is correct. Having reviewed HTTP 403 it should be used for authorisation errors not authentication errors.

I.e. a 403 returned for either a patron or terminal authentication means that although the authentication (username\password) was correct the patron or terminal is not allowed to do that operation.

It seems to me that part of the problem we have here is that the relevant HTTP RFCs frequently (but not always) use the term "authorization" to mean what we mean by "authentication", and "user" to mean what we mean by "terminal", or at least the combination of user (patron) and user agent (terminal). This makes it harder to determine a way of handling patron authentication (as distinct from terminal authentication) that fits with current practice in the design of APIs based upon HTTP.

If a terminal's credentials are correct, but a patron's credentials are incorrect, I think it can be argued that the server should be responding with 403, because that says that the terminal has authenticated correctly but a request for the specified resource is forbidden in the absence of valid patron credentials. RFC 7231 (section 6.5.3) seems to deliberately leave it vague as to precisely how to interpret 403, and indeed suggests that clarification can be provided in a response payload (first paragraph of 6.5.3).

If the 'lcf-patron-credential' field is used in the request, a 401 response to indicate incorrect patron credentials would not be helpful, because a 401 response MUST be accompanied by a 'WWW-Authenticate' field, and all that this can do is to (misleadingly) request that the terminal credentials be presented again. There has to be an alternative to 401 in this case, and 403 would appear to be it.

One alternative could be to abandon use of a separate 'lcf-patron-credential' field, and specify that the Authorization field should contain a combination of both terminal credentials and patron credentials in those situations where a request for a resource requires that both sets of credentials to be provided. In that case a 401 response would be correct, but no mechanism is provided for determining which has failed: terminal authentication or patron authentication. However, assuming that there is a separate procedure for ensuring that a terminal always provides valid terminal credentials, a 401 in such circumstances would always indicate that the patron credentials are invalid.

Following discussion, Technical Editors suggest that 403 be retained, but that an Exception entity be returned as the payload of the response, indicating that Patron authentication has failed.

Agreed that 401 should be used for terminal authenticaiton fails, and 403 for patron authentication fails (the latter being a type of authentication failure)  with the response payload indicating that the authorisation failure is due to a patron not being specified and authenticated or other reasons.